@model AgregarCargosViewModel
@{
    ViewData["Title"] = "Agregar Cargos";
}

<h2>Agregar cargo laboral</h2>
<input id="viewBagCargo" value="@ViewBag.Cargo" readonly class="form-control" hidden />
<form asp-action="AgregarCargos">
    
    <div class="mb-3">
        <label asp-for="CargoNombreView" class="form-label"></label>
        <input asp-for="CargoNombreView" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="CargoDescripcionView" class="form-label"></label>
        <input asp-for="CargoDescripcionView" class="form-control" />
    </div>
        <div class="mb-3">
        <label asp-for="DeptoIdView"  class="form-label"></label>
        <select asp-for="DeptoIdView" class="form-select" asp-items="@Model.tbDepartamentosSelect"></select> 
    </div>
    <button type="submit" class="btn btn-primary">Crear cargo laboral</button>
</form>
<div class="mb-3 mt-3">
    <a asp-action="Inicio" class="btn btn-dark">Regresar al menu principal</a>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/AgregarCargos.js" asp-append-version="true"></script>
    <script>


    </script>
}
