@model TbEmpleados
@{
    ViewData["Title"] = "Inicio";
}

<partial name="_Submenu" model="SubMenuSolicitudes.InicioMenu" />    

<h1>Bienvenido</h1>
<h4>seleciona cualquiera de las opcinones del menu</h4>
