@model empListadoSoli
@{
    ViewData["Title"] = "Listado de Solicitudes";
}
<partial name="_Submenu" model="SubMenuSolicitudes.ListadodeSolicitudes" />    

<h1>Listado de Solicitudes</h1>
@if(Model.cargoNombre == "Director"||Model.cargoNombre == "Jefe Inmediato"
||Model.cargoNombre == "Director RRHH")
{
    <a class="btn btn-outline-warning" 
    asp-action="ListarSolicitudesDepartamento">Ver Solicitudes para aprobación o denegación del departamento</a>
}
@if(Model.cargoNombre == "Director RRHH")
{
     <a class="btn btn-outline-warning" 
    asp-action="ListarSolicitudesdeTodosDepartamentosparaAprobarDenegar">Ver Solicitudes para aprobación o denegación de todos los departamento</a>
}
<table class="table">
        <thead>
            <tr>
                <th>Tipo de Solicitud</th>
                <th>Fecha de solicitud</th>
                <th>Detalles de la Solicitud</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var periodo in Model.SolicitudesViewModel)
            {
                <tr>
                    <td>@periodo.Tiposolicitud.TiposolicitudNombre</td>
                    <td>@periodo.SolicitudFecha</td>
                    <td>@periodo.SolicitudDetalles</td>

                    <td>
                        <a asp-action="DetallesSolicitud" asp-route-id="@periodo.SolicitudId"
                   class="btn btn-outline-info">ver Detalles</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>

<div class="mb-3 mt-3">
    <a asp-action="ListadeSolicitudes" class="btn btn-outline-warning">Filtrar por solicitudes enviadas</a>
</div>
<div class="mb-3 mt-3">
    <a asp-action="FiltrarporAprobado" class="btn btn-outline-info">Filtrar por solicitudes aprobadas</a>
</div>
<div class="mb-3 mt-3">
    <a asp-action="FiltrarporDenegado" class="btn btn-outline-danger">Filtrar por solicitudes denegadas</a>
</div>

<div class="mb-3 mt-3">
    <a asp-action="Inicio" class="btn btn-outline-light">Regresar al menu principal</a>
</div>